<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <title>justtodoit</title>
  <link rel="icon" href="favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    .fade-enter {
      opacity: 0;
      transform: translateX(3rem)
    }

    .main-logo {
      font-size: 15rem !important;
    }
  </style>
</head>

<body>
  <style>
  </style>
  <div id="app">
    <v-app>
      <v-main>
        <app-bar></app-bar>
        <v-container>
          <home-page v-if="todoId === ''"></home-page>
          <todo-page v-else :todo-id="todoId"></todo-page>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function daysRemainingFromToday(dateIsoString) {
      const today = new Date();
      const differenceMs = new Date(dateIsoString) - today;
      return Math.floor(differenceMs / 1000 / 60 / 60 / 24) + 1;
    }
    Vue.filter("dateAndRemainingTime", function (date) {
      if (date) {
        const daysDifference = daysRemainingFromToday(date);
        if (daysDifference > 0) {
          return `${date} (in ${daysDifference} day${daysDifference === 1 ? '' : 's'})`;
        } else if (daysDifference <= -1) {
          return `${date} (${daysDifference * -1} day${daysDifference === -1 ? '' : 's'} ago)`;
        } else {
          return 'today'
        }
      } else {
        return ``
      }
    });
  </script>
  <script src="components/app-bar.js"></script>
  <script src="components/todo-progress-bar.js"></script>
  <script src="components/todo-view.js"></script>
  <script src="components/todo-edit.js"></script>
  <script src="pages/home-page.js"></script>
  <script src="pages/todo-page.js"></script>
  <script>

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          todoId: location.search.substring(1)
        }
      }
    });
  </script>
</body>

</html>